<div ng-if="newColdUpdateAvailable" class="alert alert-success text-center">
  New app version is available, <strong>close all app tabs</strong> to finalise the update
</div>
<div ng-if="newHotUpdateAvailable" class="alert alert-success text-center">
  New app version is available, <strong>reload the page</strong> to finalise the update
</div>
