<div http-error-notifier error="loadingError"></div>
<div ng-if="newsItem">
  <div offline-notifier cache-timestamp="{{cacheTimestamp}}"></div>
  <h2>
    {{::newsItem.date | date : 'dd.MM.yyyy'}} - {{::newsItem.title}}
  </h2>
  <div class="media">
    <div class="media-left">
      <img class="media-object img-thumbnail" ng-src="{{::newsItem.picture}}" />
    </div>
    <div class="media-body">
      <p ng-repeat="paragraphText in newsItem.paragraphs">{{::paragraphText}}</p>
    </div>
  </div>
</div>
