<div offline-notifier cache-timestamp="{{cacheTimestamp}}"></div>
<h2 ng-repeat-start="newsItem in newsList track by newsItem.id">
  <a ng-href="/news/{{::newsItem.id}}">{{::newsItem.date | date : 'dd.MM.yyyy'}} - {{::newsItem.title}}</a>
</h2>
<div class="media" ng-repeat-end>
  <div class="media-left">
    <img class="media-object img-thumbnail" ng-src="{{::newsItem.picture}}" />
  </div>
  <div class="media-body">
    <p>{{::newsItem.subtitle}}</p>
    <p><a ng-href="/news/{{::newsItem.id}}">Read more >></a></p>
  </div>
</div>
<div class="list-loading-error" http-error-notifier error="loadingError"></div>
<p class="text-center">
  <button class="btn btn-primary btn-lg" ng-click="loadNextNewsPage()" ng-show="!isNewsLoading()">
    Load more!
  </button>
</p>
