<div ng-if="cacheTimestamp" class="alert alert-warning" role="alert">
  <strong>Info: </strong>
  Application is working offline, this is cached version from {{cacheTimestamp | date : 'dd.MM.yyyy, HH:mm'}}
</div>
